<div>
  <navigation [page]="'Startseite'"></navigation>
  <div class="content">
    <a (click)="this.smallComp.detailView(firstProduct)">
      <product-big *ngIf="firstProduct" [product]="firstProduct"></product-big>
    </a>
    <product-list></product-list>
  </div>
</div>
