@import "../colors";

h1{
  width: 100%;
  text-align: center;
  margin-top: 1.5em;
}
.content{
  display: flex;
  flex: row;
  justify-content: space-between;
  background-color: $secondGray;
}

product-big{

}
a{
  width: 50%;
}
