@import "../../colors";

div{
  &.content{
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    background-color: $secondOrange;
    box-shadow: 0.3em 0.3em 0.2em gray;
    margin: 1em;
    cursor: pointer;
  }
  &.bottom{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    span{
      font-size: 0.7em;
      margin: 0.2em 2.5em;
    }
  }

}
img{
  width: 75%;
  justify-content: center;
  margin: 2% 12.5%;
}
h2{
  width: 100%;
  text-align: center;
}
span{
  &.price{
    display: inline-flex;
    width: 75%;
    font-size: 1.6em;
    justify-content: flex-end;

  }
}
p{
  justify-content: center;
  text-align: center;
  padding: 0.5em;

}
