<div class="content">
  <h2>{{product.name}}</h2>
  <img [src]="'http://isotope.jsdutywiz.com/' + this.product.images[0].singleSrc">
  <span class="price">Preis: {{product.price.price}} {{product.price.currency}}</span>
  <p [innerHtml]="product.description"></p>
  <div class="bottom">
    <span>Hinzugefügt am {{product.dateAdded.toLocaleDateString()}}</span>
    <span>Zuletzt geändert am {{product.timestamp.toLocaleDateString()}}</span>
  </div>
</div>
