<div >
  <navigation [page]="'Produktdetails'"></navigation>
  <div class="content">
    <product-big [product]="product" *ngIf="product"></product-big>
    <div class="btn">
      <cart-button [product]="product"></cart-button>
      <button (click)="gotoLogin()" *ngIf="!this.login.valid;else loggedIn">Login</button>
      <ng-template #loggedIn>
        <p >Du bist als {{loginName}} angemeldet</p>
      </ng-template>
    </div>
  </div>
</div>
