@import "../colors";


.content{
  display: flex;
  flex-direction: row;
  background-color: $secondGray;
  justify-content: space-between;
}
product-big{
  width: 60%;
}

.btn{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  //width: 25%;
  margin: 2em 1em;
  padding: 1em;
  background-color: $firstGray;
  height: 10em;
}
button{
  @include defaultButton($firstFontColor,$firstOrange,$secondOrange,1.5em);
  margin-top: 2em;
}
