@import "../../colors";

li{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $secondGray;
  padding: 1em;
  margin: 0.7em;
  box-shadow: 0.3em 0.3em 0.2em gray;
}
img{
  height: 100px;
}
span{
  font-size: 2em;
}
button{
  font-size: 1.8em;
  padding: 0.1em;
  border: none;
  background-color: $firstGray;
  color: $firstFontColor;
}
