<li>
  <img [src]="'http://isotope.jsdutywiz.com/' + item.product.images[0].singleSrc">
  <span>{{item.name}}</span>
  <span>{{item.amount}}</span>
  <span>{{item.price + ' ' +  item.product.price.currency}}</span>
  <button >Löschen</button>
</li>
