<li>
  <a (click)="detailView(product)">
    <h3>{{product.name}}</h3>
    <div class="detail">
      <img [src]="src">
      <span>{{product.price.price}} {{product.price.currency}}</span>
    </div>

  </a>
</li>
