@import "../../colors";

img{
   width: 5em;
   height: 5em;

}

li{
  display: flex;
  flex-direction: column;
  margin: 1em;
  background-color: $secondOrange;
  box-shadow: 0.3em 0.3em 0.2em gray;
  cursor: pointer;
}
h3{
  margin-bottom: 0.2em;
  padding-left: 0.5em;
}
.detail{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 0.5em;
}
span{
  margin: 0.2em 0.5em;
}
