<div class="content">
  <div class="login-field">
    <h2>Login</h2>
    <span>User</span><input #user>
    <span>Passwort</span><input type="password" #psswd>
    <div class="btn">
      <button (click)="back()">Abbrechen</button>
      <button (click)="login(user.value,psswd.value)">Login</button>
    </div>
  </div>
</div>
