@import "../colors";


div{

  &.content{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: $secondGray;
    justify-content: center;
    align-items: center;
  }
  &.login-field{
    display: flex;
    width: 25vw;
    background-color: $firstGray;
    color: $firstFontColor;
    flex-direction: column;
    justify-content: center;
  }


}

h2{
  text-align:  center;
}
span{
  font-size: 1.3em;
  padding-left: 1em;
}
.btn{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  margin: 0.5em 0;
  font-size: 1.3em;
}
input{
  margin: 0.5em 1em;
  font-size: 1.3em;
}
button{
  @include defaultButton($firstFontColor,$firstOrange,$secondOrange,1.3em);
}
