<nav>
  <a link="active" routerLink="versand">Versand</a>
  <a link="inactive" routerLink="rechnung">Rechnung</a>
  <a link="inactive" routerLink="checkout">Bezahlen</a>
</nav>

<router-outlet></router-outlet>
