@import "../colors";

.content{
  display: flex;
  flex-direction: column;
}

ul{
  border: 2px $secondGray;
  width: 100%;
  padding: 0;
}
.sum{
  display: flex;
  flex-direction: column;
  //align-items: flex-end;
  margin: 1em;
  span{
    text-align: right;
    margin: 0.2em 0;
    padding: 0.4em;
    border-bottom: 1px black solid;
    &#ges{
      font-weight: bold;
    }

  }
}

#leer{
  display: flex;
  align-content: center;
  justify-content: center;
  color: $secondOrange;
}
button{
  display: flex;
  float: right;
  margin: 0.5em;
  @include defaultButton($firstFontColor,$firstOrange,$secondOrange,1.5em);

}
