<navigation [page]="'Mein Warenkorb'"></navigation>
<div *ngIf="this.cart.products.length > 0;else leer" class="content">
  <ul>
    <cart-item *ngFor="let item of this.cart.products" [item]="item"></cart-item>
  </ul>
  <div *ngIf="this.getPrice() > 0">
    <div class="sum">
      <span>Preis Brutto: {{getTaxFreePrice()}} EUR</span>
      <span>Mwst. 19% : {{getMwst()}} EUR</span>
      <span id="ges" >Gesamt: {{getPrice()}} EUR</span>
    </div>
    <button (click)="buy(this.cart)">Zur Kasse</button>

  </div>

</div>
<ng-template  #leer>
  <div id="leer">
    <h1>Dein Warenkorb ist noch leer :( </h1>
  </div>
</ng-template>
