$firstGray :#585858;
$secondGray: #E6E6E6;
$firstFontColor :#F2F2F2;
$firstOrange : #FF8000;
$secondOrange : #FAAC58;

@mixin defaultButton($fontC,$firstC,$secondC,$fontS) {
  color: $fontC;
  background: $firstC;
  font-size: $fontS;
  border: none;
  border-radius: 4px;
  &:active{
    outline: none !important;
    background-color: $secondC;

  }
  &:focus{
    outline: none !important;
  }
}
