@import "../colors";

div{
  display: flex;
  justify-content: space-around;
  background-color: $firstGray;
}

a{
  text-decoration: none;
  color: $firstFontColor;
  margin: 0.5em 0.5em;
  padding: 1em;
  background-color: $firstOrange;
  &:active,&:hover{
    background-color: $secondOrange;
  }
}

h1{
  display: flex;
  text-align: right;
  color: $firstFontColor;
  align-self: flex-start;
  font-size: 3em;
  margin: 0.3em 0;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
p{
  font-size: 0.8em;
  margin: 0;
  text-align: center;
}
