<div >
  <h1>{{page}}</h1>
  <nav>
    <a routerLink="/home" routerLinkActive="active">Startseite</a>
    <a routerLink="/produkte" routerLinkActive="active">Produkte</a>
    <a routerLink="/warenkorb" routerLinkActive="active">Mein Warenkorb</a>
    <a routerLink="/login" routerLinkActive="active">Login</a>
  </nav>
</div>
