@import "../../colors";

button{
  display: flex;
  @include defaultButton($firstFontColor,$firstOrange,$secondOrange,1.5em);
  flex-direction: column;
  align-items: center;
  
}
img{
  background-color: $firstOrange;
  color: $firstFontColor;
  margin: 0.2em;
  // width: 5em;
  // height: 5em;
}
